/*Styles for primary components*/
footer{padding: 2%; 
    text-align: center; 
    font-size: small; 
    color:chocolate;}
footer a{color:chocolate;}

body{font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color:brown }

a{color:tomato;
    text-decoration: none;}

h1{color:tomato;}

label{text-align: right;}

table{color:linen;}

/*Styles for classes*/
/*Colored button to dark color on hover*/
.button{
    position: relative;
    padding: .5%;
    background-color: tomato;
    color:linen;
    border-color: firebrick;
    border-style: outset;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
.button:hover{
    position: relative;
    padding: .5%;
    background-color: brown;
    color:linen;
    border-color: firebrick;
    border-style: inset;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*White button, to color on hover*/
.button2{
    position: relative;
    padding: .5%;
    background-color: linen;
    color:tomato;
    border-color: firebrick;
    border-style: outset;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
.button2:hover{
    position: relative;
    padding: .5%;
    background-color: firebrick;
    color:linen;
    border-color: brown;
    border-style: inset;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navigation{
    position: relative;
    overflow: hidden;
    padding: 1%;
    text-align: center;
    background-color:tomato;
}
.navigation a{
    color: firebrick;
    text-decoration: none;
    padding: 5%;
}
.navigation a:hover{
    color: chocolate;
    background-color: firebrick;
    text-decoration: none;
    padding: 5%;
}
.navigation a:active{
    color: chocolate;
    background: firebrick;
    text-decoration: none;
    padding: 5%;
}

.title-container {padding: 1%; 
    width: auto; 
    text-align: center;
    max-width: 80%; 
    position: relative; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    color:linen;}

.content-container {padding: 1%; 
    width: 80%; 
    position: relative; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    color: chocolate;
    background-color: linen;}

.subcontent-container {padding: 1%; 
    width: 95%; 
    position: relative; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    color: linen;
    background-color: tomato;}

/*ratings styles*/
.ratings-container {padding: 1%; 
    width: 50%; 
    position: relative; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    color: chocolate;
    background-color: linen;
    font-size: small ;}  
.ratings-table{
    color:chocolate;
    font-size:small;
}


/*post styles*/
.post-title{color:tomato;
text-align: left}
.post-date{color:firebrick;
text-align:right}
.post-header-table{
    width: 100%;
}