/*Styles for primary components*/
footer{padding: 2%; 
    text-align: center; 
    font-size: small; 
    color:darkslateblue;}
footer a{color:darkslateblue;}

body{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-color:lightgreen }

a{color:mintcream;
    text-decoration: none;}

h1{color:mintcream;}

label{text-align: right;}

table{color:darkslateblue;}

/*Styles for classes*/
/*Colored button to dark color on hover*/
.button{
    position: relative;
    padding: .5%;
    background-color: mintcream;
    color:darkslateblue;
    border-color: lightgray;
    border-style: outset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}
.button:hover{
    position: relative;
    padding: .5%;
    background-color: lightgreen;
    color:darkslateblue;
    border-color: lightgray;
    border-style: inset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*White button, to color on hover*/
.button2{
    position: relative;
    padding: .5%;
    background-color: darkslateblue;
    color:mintcream;
    border-color: lightgray;
    border-style: outset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}
.button2:hover{
    position: relative;
    padding: .5%;
    background-color: lightgray;
    color:darkslateblue;
    border-color: lightgreen;
    border-style: inset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navigation{
    position: relative;
    overflow: hidden;
    padding: 1%;
    text-align: center;
    background-color:mintcream;
}
.navigation a{
    color: darkslateblue;
    text-decoration: none;
    padding: 1%;
}
.navigation a:hover{
    color: lightgray;
    background-color: darkslateblue;
    text-decoration: none;
    padding: 1%;
}

.title-container {padding: 1%; 
    width: auto; 
    text-align: center;
    max-width: 80%; 
    position: relative; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    color:darkslateblue;}

.content-container {padding: 1%; 
    width: 80%; 
    position: relative; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    color: lightgray;
    background-color: darkslateblue;}

.subcontent-container {padding: 1%; 
    width: 98%; 
    position: relative; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    color: darkslateblue;
    background-color: mintcream;}

/*ratings styles*/
.ratings-container {padding: 1%; 
    width: 50%; 
    position: relative; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    color: lightgray;
    background-color: darkslateblue;
    font-size: small ;}  
.ratings-table{
    color:lightgray;
    font-size:small;
}


/*post styles*/
.post-title{color:mintcream;
text-align: left}
.post-date{color:lightgray;
text-align:right}
.post-header-table{
    width: 100%;
}