/*Styles for primary components*/
footer{padding: 2%; 
    text-align: center; 
    font-size: x-small; 
    color:lavender;}
footer a{color:lavender;}

body{font-family: 'Courier New', Courier, monospace; 
    background-color:black }

a{color:deeppink;
    text-decoration: none;}

h1{color:deeppink;}

label{text-align: right;}

/*Styles for classes*/
.button{
    position: relative;
    padding: .5%;
    background-color: deeppink;
    color:lavender;
    border-color: black;
    border-style: outset;
    font-family: 'Courier New', Courier, monospace;
}
.button:hover{
    position: relative;
    padding: .5%;
    background-color: lavender;
    color:mediumpurple;
    border-color: black;
    border-style: inset;
    font-family: 'Courier New', Courier, monospace;
}

.navigation{
    position: relative;
    overflow: hidden;
    padding: 1%;
    text-align: center;
    background-color:deeppink;
}
.navigation a{
    color: lavender;
    text-decoration: none;
    padding: 5%;
}
.navigation a:hover{
    color: deeppink;
    background-color: black;
    text-decoration: none;
    padding: 5%;
}
.navigation a:active{
    color: black;
    background: lavender;
    text-decoration: none;
    padding: 5%;
}

.title-container {padding: 1%; 
    width: auto; 
    text-align: center;
    max-width: 80%; 
    position: relative; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    color:mediumpurple;}

.content-container {padding: 1%; 
    width: 80%; 
    position: relative; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    color: black;
    background-color: lavender;}

/*ratings styles*/
.ratings-container {padding: 1%; 
    width: 50%; 
    position: relative; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    color: lavender;
    background-color: mediumpurple;
    font-size: small ;}  
.ratings-table{
    color:lavender;
    font-size:small;
}


/*post styles*/
.post-title{color:mediumpurple;
text-align: left}
.post-date{color:deeppink;
text-align:right}
.post-header-table{
    width: 100%;
}